# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# Editor/IDE-specific ignores
.vscode/
.idea/
*.swp
*.bak
*~

# Version control ignores
.git
.gitignore

# Build/distribution ignores
dist/
build/
*.egg-info/

# Log files
*.log